* {
  box-sizing: border-box;
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
}

.site-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.site-container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  padding: 20px;
}
